body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "DynaPuff", cursive !important;
}
.word .correct {
  color: white;
}
.word .incorrect {
  color: #f56c6c;
  position: relative;
}

.word .incorrect::before {
  content: "";
  position: absolute;
  width: 115%;
  height: 10%;
  background-color: #f56c6c;
  bottom: 1px;
}
.word .untyped {
  color: white;
}
pre {
  color: white;
}
.word span {
  font-size: x-large;
  color: gray;
}
.active {
  position: relative;
}
.caret {
  background-color: #65e495;
  position: absolute;
  animation: caretBlink linear 2s infinite;
  width: 2.8px;
  height: 25px;
  border-radius: 20px;
  transition: all 0.05s linear;
}
.carret-end {
  background-color: red;
  animation: none !important;
  height: 55px;
  padding-bottom: 20px;
}
.carret-end::before {
  content: "end";
  font-size: small;
  background-color: red;
  color: white;
  height: 40% !important;
  position: absolute;
}
@keyframes caretBlink {
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.single_letter {
  margin-right: 1px;
}
